:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Logo-based Color Scheme */
  --primary-color: #AD542D;
  --primary-dark: #78381C;
  --primary-light: #CF8C5B;
  --primary-lighter: #E5A88A;
  --secondary-color: #AE552D;
  --secondary-dark: #AC532C;
  --text-dark: #222222;
  --text-light: #717171;
  --border-color: #DDDDDD;
  --bg-color: #FFFFFF;
  --bg-light: #F7F7F7;
  
  /* Legacy support (keeping for backward compatibility) */
  --airbnb-red: #AD542D;
  --airbnb-red-dark: #78381C;
  --airbnb-red-light: #CF8C5B;
  --airbnb-teal: #00A699;
  --airbnb-teal-dark: #008489;
  --airbnb-teal-light: #00D9C4;
  --airbnb-dark: #222222;
  --airbnb-dark-light: #717171;
  --airbnb-border: #DDDDDD;
  --airbnb-bg: #FFFFFF;
  --airbnb-bg-light: #F7F7F7;
}

body {
  margin: 0;
  padding: 0;
}
